<header>
    <nav class="container navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="${'/'}">BootcApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="${'/'}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="${'/user/users'}">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="${'/role/allroles'}">Role</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="${'/course/list'}">Curso</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="${'/grades'}">Notas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="${'/subjects'}">Asignaturas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            usuario@usuario.cl
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
                            <li><a class="dropdown-item" href="#">Mi Bandeja</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>