<header>
    <nav class="container navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="${'/'}">BootcApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="${'/'}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="${'/grades'}">Notas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="${'/subjects'}">Asignaturas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>