<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="components/bootstrap_css :: head"></th:block>
    <link th:replace="components/dataTable_css :: link">
    <title>Demo</title>
</head>
<body>
    <header class="bg-body-tertiary shadow-lg">
        <th:block th:insert="components/nav :: nav"></th:block>
    </header>
    <h1>NO SE TOCA EL DEMO POR FAVOR. SOLO PARA COPIAR Y CREAR NUEVOS HTML</h1>
    <!-- Filtro demo-->
    <table id="myTable" class="display">
        <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
        </tbody>
    </table>
    <script th:replace="components/bootstrap_js :: script"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script th:replace="~{components/dataTable_js :: script}"></script>
    <!-- Para inicializar el filtro-->
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable();
        });
    </script>

    <footer class="bg-dark text-white text-center py-3">
        Harakiri
    </footer>
</body>
</html>
