<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{components/bootstrap_css :: head}"></th:block>
    <link th:replace="components/dataTable_css :: link">
    <title>Notas</title>
</head>
<body>
    <header class="bg-body-tertiary shadow-lg">
        <th:block th:insert="~{components/nav :: nav}"></th:block>
    </header>

    <section class="container my-4">
        <div class="mt-4 alert alert-info row" role="alert">
            <div class="list-group col-md-4 col-12">
                <button type="button" class="list-group-item list-group-item-action active" aria-current="true">Usuario</button>
                <button type="button" class="list-group-item list-group-item-action">Nombre Apellido</button>
            </div>
            <div class="list-group col-md-4 col-12">
                <button type="button" class="list-group-item list-group-item-action active" aria-current="true">Rol</button>
                <button type="button" class="list-group-item list-group-item-action">Admin - Profesor - Estudiante</button>
            </div>
            <div class="list-group col-md-4 col-12">
                <button type="button" class="list-group-item list-group-item-action active" aria-current="true">Correo</button>
                <button type="button" class="list-group-item list-group-item-action">prueba@prueba.cl</button>
            </div>
        </div>

        <h3>Lista de Notas</h3>

        <div th:each="userEntity : ${userEntities}">
            <div th:switch="${userEntity.role.id}">
                <div th:case="1">
                    <p><strong>Nombre Administrador:</strong> <span th:text="${userEntity.name + ' ' + userEntity.surname}"></span></p>
                    <p><strong>Correo:</strong> <span th:text="${userEntity.email}"></span></p>
                </div>
                <div th:case="2">
                    <p><strong>Nombre Profesor:</strong> <span th:text="${userEntity.name + ' ' + userEntity.surname}"></span></p>
                    <p><strong>Correo:</strong> <span th:text="${userEntity.email}"></span></p>
                </div>
                <div th:case="3">
                    <p><strong>Nombre Estudiante:</strong> <span th:text="${userEntity.name + ' ' + userEntity.surname}"></span></p>
                    <p><strong>Correo:</strong> <span th:text="${userEntity.email}"></span></p>
                </div>
                <div th:case="4">
                    <p><strong>Nombre Apoderado:</strong> <span th:text="${userEntity.name + ' ' + userEntity.surname}"></span></p>
                    <p><strong>Correo:</strong> <span th:text="${userEntity.email}"></span></p>
                </div>
            </div>
        </div>

        <a th:href="@{'/grades/create'}" type="button" class="btn btn-primary my-4">
            <i class="bi bi-plus-circle"></i>
            Agregar Nota
        </a>

        <table id="myTable" class="display">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nota</th>
                <th scope="col">Profesor</th>
                <th scope="col">Estudiante</th>
                <th scope="col">Asignatura</th>
                <th scope="col">Curso</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="grade : ${grades}">
                <th th:text="${grade.id}" scope="row" class="text-center"></th>
                <td th:text="${grade.grade}" class="text-center"></td>
                <td th:text="${grade.teacher.name + ' ' + grade.teacher.surname}"></td>
                <td th:text="${grade.student.name + ' ' + grade.student.surname}"></td>
                <td th:text="${grade.subject.name}"></td>
                <td th:text="${grade.subject.course.name}"></td>
                <td class="d-flex gap-2">
                    <form th:method="put" th:action="@{/grades/update}">
                        <input th:value="${grade.id}" name="id" type="hidden">
                        <button type="submit" class="btn btn-warning btn-sm"><i class="bi bi-pencil-fill"></i></button>
                    </form>
                    <form th:method="delete" th:action="@{/grades}">
                        <input th:value="${grade.id}" name="id" type="hidden">
                        <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash3-fill"></i></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </section>

    <section class="container">
        <th:block th:insert="components/footer :: footer"></th:block>
    </section>

    <script th:replace="~{components/bootstrap_js :: script}"></script>
    <script th:replace="~{components/dataTable_js :: script}"></script>
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable();
        });
    </script>
</body>
</html>
