<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="components/bootstrap_css :: head"></th:block>

    <title>Notas</title>
</head>
<body>
    <header class="bg-body-tertiary shadow-lg">
        <th:block th:insert="components/nav :: nav"></th:block>
    </header>

    <section class="container my-4">
        <h3 th:text="${grade != null ? 'Modificar Nota' : 'Agregar Nota'}" ></h3>

        <form th:action="@{/students}" th:method="${student != null ? 'PUT' : 'POST'}" class="my-4 p-4 rounded border">
            <input th:if="${grade != null}" th:value="${grade.id}" type="hidden" name="id">

            <div class="mb-3">
                <label class="form-label">Usuarios</label>
                <select th:disabled="${grade != null}" name="course" required class="form-select" aria-label="Default select example">
                    <th:block th:each="user : ${users}">
                        <option
                                th:value="${user.id}"
                                th:text="${user.name}"
                                th:selected="${user != null and grade != null and user.id == grade.idStudent}"
                        ></option>
                    </th:block>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Asignatura</label>
                <select th:disabled="${grade != null}" name="course" required class="form-select" aria-label="Default select example">
                    <th:block th:each="subject : ${subjects}">
                        <option
                                th:value="${subject.id}"
                                th:text="${subject.name}"
                                th:selected="${subject != null and grade != null and subject.id == grade.idSubject}"
                        ></option>
                    </th:block>
                </select>
            </div>

            <div class="mb-3">
                <label for="name" class="form-label">Nota</label>
                <input th:value="${grade != null ? grade.grade : ''}" required type="number" class="form-control" id="name" name="name">
            </div>

            <button th:text="${grade != null ? 'Modificar' : 'Crear Nuevo'}" type="submit" class="btn btn-primary"></button>
        </form>
    </section>

    <section class="container">
        <th:block th:insert="components/footer :: footer"></th:block>
    </section>

    <script th:replace="components/bootstrap_js :: script"></script>
</body>
</html>
