<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="components/bootstrap_css :: head"></th:block>

    <title>BootcApp</title>
</head>
<body>
    <header class="bg-body-tertiary shadow-lg">
        <th:block th:insert="components/nav :: nav"></th:block>
    </header>

    <section class="container mt-5 my-auto ">
        <div class="shadow-lg">
            <img src="/img/springboot.gif" class="img-fluid" alt="SpringBoot">
        </div>
    </section>

    <section class="container">
        <th:block th:insert="components/footer :: footer"></th:block>
    </section>

    <script th:replace="components/bootstrap_js :: script"></script>
</body>
</html>