<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="components/bootstrap_css :: head"></th:block>
</head>
<body>
    <header class="bg-body-tertiary shadow-lg">
        <th:block th:insert="components/nav :: nav"></th:block>
    </header>
    <section class="container">
        <h2>Notas</h2>
        <table class="table">
            <thead class="table-header">
            <tr>
                <th>N°</th>
                <th>Fecha</th>
                <th>Nombre Alumno</th>
                <th>Nombre Asignatura</th>
                <th>Nombre Profesor</th>
                <th>Nota</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="nota : ${notas}">
                <td th:text="${nota.fecha}"></td>
                <td th:text="${nota.id_estudiante}"></td>
                <td th:text="${nota.id_asignatura}"></td>
                <td th:text="${nota.id_profesor}"></td>
                <td th:text="${nota.nota}"></td>
            </tr>
            </tbody>
        </table>
    </section>
    <script th:replace="components/bootstrap_js :: script"></script>
</body>
</html>