<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="components/bootstrap_css :: head"></th:block>
    <title>Asignatura</title>
</head>
<body>
<header class="bg-body-tertiary shadow-lg fixed-top">
    <th:block th:insert="components/nav :: nav"></th:block>
</header>

<section class="container my-4">
    <div class="mt-4 alert alert-info row" role="alert">
        <div class="list-group col-md-4 col-12">
            <button type="button" class="list-group-item list-group-item-action active" aria-current="true">Usuario</button>
            <button type="button" class="list-group-item list-group-item-action">Nombre Apellido</button>
        </div>
        <div class="list-group col-md-4 col-12">
            <button type="button" class="list-group-item list-group-item-action active" aria-current="true">Rol</button>
            <button type="button" class="list-group-item list-group-item-action">Admin - Profesor - Estudiante</button>
        </div>
        <div class="list-group col-md-4 col-12">
            <button type="button" class="list-group-item list-group-item-action active" aria-current="true">Correo</button>
            <button type="button" class="list-group-item list-group-item-action">prueba@prueba.cl</button>
        </div>
    </div>

    <h3 th:text="${subject != null ? 'Modificar Asignatura' : 'Nueva Asignatura'}"></h3>

    <form th:action="@{/subjects}" th:method="${subject != null ? 'PUT' : 'POST'}" class="my-4 p-4 rounded border">
        <input th:if="${subject != null}" th:value="${subject.id}" type="hidden" name="id">

        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input th:value="${subject != null ? subject.name : ''}" required type="text" class="form-control" id="name" name="name">
        </div>

        <div class="mb-3">
            <label class="form-label">Curso</label>
            <select th:disabled="${subject != null}" name="course" required class="form-select" aria-label="Default select example">
                <!-- <option selected disabled>Seleccione un curso</option> -->
                <option th:each="course : ${courses}"
                        th:value="${course.id}"
                        th:text="${course.name}"
                        th:selected="${course != null and subject != null and course.id == subject.course.id}"
                ></option>
            </select>
        </div>

        <button th:text="${subject != null ? 'Modificar' : 'Crear Nuevo'}" type="submit" class="btn btn-primary"></button>
    </form>
</section>

<section class="container">
    <th:block th:insert="components/footer :: footer"></th:block>
</section>

<script th:replace="components/bootstrap_js :: script"></script>
</body>
</html>