<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="components/bootstrap_css :: head"></th:block>
    <link th:replace="components/dataTable_css :: link">
    <title>Asignaturas</title>
</head>
<body>
<header class="bg-body-tertiary shadow-lg fixed-top">
    <th:block th:insert="components/nav :: nav"></th:block>
</header>

<section class="container my-4">
    <div class="mt-4 alert alert-info row" role="alert">
        <div class="list-group col-md-4 col-12">
            <button type="button" class="list-group-item list-group-item-action active" aria-current="true">Usuario</button>
            <button type="button" class="list-group-item list-group-item-action">Nombre Apellido</button>
        </div>
        <div class="list-group col-md-4 col-12">
            <button type="button" class="list-group-item list-group-item-action active" aria-current="true">Rol</button>
            <button type="button" class="list-group-item list-group-item-action">Admin - Profesor - Estudiante</button>
        </div>
        <div class="list-group col-md-4 col-12">
            <button type="button" class="list-group-item list-group-item-action active" aria-current="true">Correo</button>
            <button type="button" class="list-group-item list-group-item-action">prueba@prueba.cl</button>
        </div>
    </div>

    <h3>Lista de Asignaturas</h3>

    <a th:href="@{'/subjects/create'}" type="button" class="btn btn-primary my-4">
        <i class="bi bi-plus-circle"></i>
        Agregar Asignatura
    </a>

    <div th:if="${msgSuccess != null}" class="my-4 alert alert-success alert-dismissible fade show" role="alert">
        <p class="m-0" th:text="${msgSuccess}"></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div th:if="${msgError != null}" class="my-4 alert alert-danger alert-dismissible fade show" role="alert">
        <p class="m-0" th:text="${msgError}"></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <table id="myTable" class="display">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Curso</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${subjects}">
            <th th:text="${subject.id}" scope="row"></th>
            <td th:text="${subject.name}"></td>
            <td th:text="${subject.course.name}"></td>
            <td class="d-flex gap-2">
                <form th:method="put" th:action="@{'/subjects/update'}">
                    <input th:value="${subject.id}" name="id" type="hidden">
                    <button type="submit" class="btn btn-warning btn-sm"><i class="bi bi-pencil-fill"></i></button>
                </form>
                <form th:method="delete" th:action="@{'/subjects'}">
                    <input th:value="${subject.id}" name="id" type="hidden">
                    <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash3-fill"></i></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>

<section class="container">
    <th:block th:insert="components/footer :: footer"></th:block>
</section>

<script th:replace="components/bootstrap_js :: script"></script>
<script th:replace="~{components/dataTable_js :: script}"></script>
<script>
    $(document).ready(function() {
        $('#myTable').DataTable();
    });
</script>
</body>
</html>