<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="components/bootstrap_css :: head"></th:block>
    <title>Usuario</title>
    <style>
        #cursoContainer.hidden {
            display: none !important;
        }
        #cursoContainer.visible {
            display: block !important;
        }
    </style>
</head>
<body>
<header class="bg-body-tertiary shadow-lg">
    <th:block th:insert="components/nav :: nav"></th:block>
</header>

<section class="container my-4">

    <h3 class="text-center my-3" th:text="${user.id != null ? 'Formulario edición usuario' : 'Formulario creación nuevo usuario'}"></h3>

    <form class="my-4 p-4 rounded border row" th:object="${user}" th:action="@{/user}"  th:method="${user.id != null ? 'put' : 'post'}">
        <input type="hidden" name="id" th:value="${user.id}" >

            <div class="mb-3 col-md-6 col-12">
                <label class="form-label" for="name">Nombre</label>
                <input class="form-control" th:value="${user.name}" type="text" id="name" th:field="*{name}" required />
            </div>
            <div class="mb-3 col-md-6 col-12">
                <label class="form-label" for="surname">Apellido</label>
                <input class="form-control" th:value="${user.surname}" type="text" id="surname" th:field="*{surname}" required />
            </div>
            <div class="mb-3 col-md-6 col-12">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" th:value="${user.email}" type="email" id="email" th:field="*{email}" required>
            </div>
            <div class="mb-3 col-md-6 col-12">
                <label class="form-label" for="password">Contraseña</label>
                <input class="form-control" th:value="${user.password}" th:type="password"
                       id="password" th:field="*{password}" required />
            </div>

        <div  class="mb-3 col-md-6 col-12">
            <label class="form-label">Selecciones un rol</label>
            <select class="form-select" th:field="*{role}" id="roleSelected" onchange="mostrarCurso()">
                <option value="" disabled selected>Selecciona un rol</option>
                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
            </select>
        </div>

            <div class="mb-3 col-md-6 col-12">
                <label class="form-label" for="passwordConfirmation">Confirmar Contraseña</label>
                <input class="form-control" th:value="${user.passwordConfirmation}" th:type="password" id="passwordConfirmation" th:field="*{passwordConfirmation}" required />
            </div>


            <div class="mb-3 col-md-6 col-12" id="cursoContainer" th:if="${user.id == null}">
                <label class="form-label">Agregue cursos (si corresponde)</label>
                <select class="form-select" th:field="*{courses}">
                    <option value="" disabled selected>Selecciona un curso</option>
                    <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}"></option>
                </select>
            </div>

            <div id="additionalCoursesContainer"></div>
            <div class="mb-3 col-md-6 col-12" th:if="${user.id == null}">
                <button type="button" class="btn btn-danger" onclick="addCourse()">
                    <i class="bi bi-file-plus">Agregar curso</i>
                </button>
            </div>

            <div class="d-flex justify-content-center my-3">
                <input type="submit" th:value="${user.id != null} ? 'Editar' : 'Agregar'"
                       th:class="${user.id != null} ? 'btn btn-secondary' : 'btn btn-primary'" />
            </div>
    </form>
</section>
<section class="container">
    <th:block th:insert="components/footer :: footer"></th:block>
</section>

<script th:replace="components/bootstrap_js :: script"></script>

<script>
    function mostrarCurso() {
        let roleSeleccionado = document.querySelector("#roleSelected");
        let cursoContainer = document.querySelector("#cursoContainer");

        let roleSelected = roleSeleccionado.value;

        if (roleSelected == 2 || roleSelected == 3) {
            cursoContainer.classList.add('visible');
            cursoContainer.classList.remove('hidden');
        } else {
            cursoContainer.classList.remove('visible');
            cursoContainer.classList.add('hidden');
        }
    }
</script>

<script>
    function addCourse() {
        let container = document.getElementById("cursoContainer");
        let newSelect = container.cloneNode(true);
        newSelect.querySelector('select').selectedIndex = 0;
        document.getElementById("additionalCoursesContainer").appendChild(newSelect);
    }
</script>
</body>
</html>